body{
    background: linear-gradient(0.25turn, rgba(255, 201, 25, 0.6), rgba(255, 111, 0, 0.5), rgba(255, 10, 92, 0.6));
}
img{
    margin: 15px;
    max-width: 100px;
    max-height: 100px;
}
#divForImg img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
    border: solid 1px black;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}
.bubble{
    border: solid 1px;
    align-items: center;
    background: linear-gradient(rgba(136, 92, 15) rgb(255, 45, 150, 0.5));
    border-radius: 15px;
    min-width: 300px;
    margin: 15px;
    padding: 15px;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}
.playerBubble{
    border: solid 1px;
    align-items: center;
    background: linear-gradient(rgb(255, 182, 109), rgb(235, 140, 140)) ;
    border-radius: 15px;
    min-width: 300px;
    margin: 15px;
    padding: 15px;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.25);
}
.playerGrid{
    display: grid;
    grid-template-columns: auto auto;
}
.playlistBubble{
    align-items: center;
    background: linear-gradient(rgba(255, 164, 196, 0.75), rgba(196, 238, 255, 0.75));
    border: solid 1px black;
    border-radius: 15px;
    min-width: 300px;
    margin: 30px;
    padding: 15px;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.25);
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.songBubble{
    align-items: center;
    background: linear-gradient(0.25turn, rgba(0, 238, 255, 0.5), rgba(246, 60, 165, 0.35), rgba(76, 89, 210, 0.5));
    border-radius: 15px;
    min-width: 200px;
    margin: 15px;
    padding: 15px;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.25);
}
.songBubbleCurrent{
    align-items: center;
    background: linear-gradient(rgba(0, 238, 255, 0.5), rgba(246, 60, 165, 0.35), rgba(76, 89, 210, 0.5));
    border-radius: 15px;
    min-width: 200px;
    margin: 15px;
    padding: 15px;
    box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.25);
}
.flex-between{
    display: flex;
    justify-content: space-between;
}

.navBtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
    
    height: 50px;
    width: 50px;

    border-radius: 50%;
    background-color: pink;

    box-shadow: 3px -3px 5px rgb(0, 0, 0, 0.25);

    border: solid 3px white;

    margin: 15px;
    padding: 5px;
}
.navBtn2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
    
    min-height: 50px;
    min-width: 50px;

    border-radius: 15%;
    background: linear-gradient(0.25turn, rgba(215, 172, 64, 0.75), rgba(229, 85, 109, 0.75)) ;
    color: rgb(255, 255, 255);

    box-shadow: 3px -3px 5px rgb(0, 0, 0, 0.25);

    border: solid 1px rgb(255, 255, 255);

    margin: 15px;
    padding: 5px;
}
.navBtn3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
    
    min-height: 35px;
    min-width: 50px;

    border-radius: 10%;
    background: linear-gradient(rgba(152, 152, 152, 0.75), rgba(255, 255, 255, 0.75));
    color: rgb(0, 0, 0);

    box-shadow: 3px -3px 5px rgb(0, 0, 0, 0.25);

    border: solid 1px rgb(255, 255, 255);

    margin: 15px;
    padding: 5px;
}

#playlistFolder button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
    
    min-height: 20px;
    min-width: 50px;

    border-radius: 15%;
    background-color: pink;

    box-shadow: 3px -3px 5px rgb(0, 0, 0, 0.25);

    border: solid 3px white;

    margin: 15px;
    padding: 5px;
}
#playlistFolder .navBtn3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
    
    min-height: 35px;
    min-width: 50px;

    border-radius: 10%;
    background: linear-gradient(rgba(152, 152, 152, 0.75), rgba(255, 255, 255, 0.75));
    color: rgb(0, 0, 0);

    box-shadow: 3px -3px 5px rgb(0, 0, 0, 0.25);

    border: solid 1px rgb(255, 255, 255);

    margin: 15px;
    padding: 5px;
}
#playlistFolder input{
    border: none;
    padding: 10px;

    border-radius: 15px;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.25);
}
#select1 {
    border: none;
    padding: 10px;

    border-radius: 15px;
    min-width: 200px;
    background: rgba(255, 255, 255, 0.25);
}
.options {
    min-width: 200px;
    background: rgba(255, 255, 255, 0.25);
    min-height: 30px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-around {
    display: flex;
    justify-content: space-around;
}

